

<span class="fancy-button">Click me!</span>

<style>
  .fancy-button {
      background-color: blue;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      
      box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
      -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
      -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
    }

    .fancy-button:hover {
      background-color: darkblue;
    }

    .fancy-button:active {
      background-color: blue;
    }
</style>
